@import url("https://fonts.googleapis.com/css2?family=Poppins");
 
.profil-picture-frame {
  border-radius: 100%;
  overflow: hidden;
  width: 30px;
}

.panel {
  background-color: white;
  width: 500px;
  border-radius: 5px; 
  overflow: hidden;
  box-shadow: 0 5px 10px 1px rgb(180, 177, 177);
  margin: 20px 0;

}
.panel-popup{
  background-color: transparent !important;
}

.panel-content {
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.panel-content::-webkit-scrollbar {
  display: none;
}
.panel-content p {
  margin: 12px;
}
.panel-content img {
  width: 1em;
}

.panel-toolbox {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
}
.panel-toolbox li {
  display: flex;
  align-items: center;
  height: 25px;
  gap: 20px;
  cursor: pointer;
  background-color: white;
}
