.profil-container > * {
  border: 1px solid red;
}
.profil-container {
  width: 100%;
  background-image: url("../media/images/wallpaper.png");
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

.profil-content-tab-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profil-content-tab button {
  border-bottom: 1px solid transparent;
  display: block;
  width: 60%;
  text-align: center;
}
.profil-content-tab-items :hover {
  border-bottom: 1px solid cyan;
  cursor: pointer;
}
.tab-active-items {
  /* border-bottom: 1px solid cyan; */
}
