

.sidebar{
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.sidebar ul{
  list-style: none;
  gap: 2rem;
}

.sidebar a{
  text-decoration: none;
}